:root {
  --project-font: Outfit, sans-serif;
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-bg:  hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg);
}

.card {
  background-color: var(--card-bg);
  height: 440px;
  width: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.image-container {
  width: 225px;
  height: 225px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: 17px;
}

.card-image {
  width: 100%;
  border-radius: 5px;
}

.card-image-hover {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.card-image-hover img {
  height: 20%;
  visibility: hidden;
  opacity: 0.5;
}

.card-image-hover:hover {
  background-color: hsl(178, 100%, 50%, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.card-image-hover:hover img{
  visibility: visible;
}

.card-text-container{
  width: 225px;
  margin: auto;
  position: relative;
  top: 33px;
  font-family: var(--project-font);
}

.card-text h1 {
  color: var(--white);
  font-size: 16.5px;
  padding-bottom: 11px;
}

.card-text h1:hover {
  color: var(--cyan);
  cursor: pointer;
}

.card-text p {
  font-size: 13.5px;
  color: var(--soft-blue);
  line-height: 20px;
}

.card-text-stats {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 20px;
}

.stats-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--cyan);
  font-size: 12px;
}

.stats-price img {
  height: 13px;
  margin-right: 5px;
}

.stats-days {
 display: flex;
 flex-direction: row;
 align-items: center;
 color: var(--soft-blue);
 font-size: 12px;
}

.stats-days img {
  height: 12px;
  margin-right: 5px;
}

hr {
 border: 0;
 border-top: 1px solid hsl(215, 51%, 70%, 0.3);
 position: relative;
 top: 37px;
}

.card-text-attribution {
 color: var(--soft-blue);
 position: relative;
 display: inline-flex;
 top: 50px;
 align-items: center;
 font-size: 12px;
}

.card-text-attribution img {
  height: 25px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 12px;
  background-color: white;
}

.card-text-attribution p span {
  color: var(--white);
}

.card-text-attribution p span:hover {
  color: var(--cyan);
  cursor: pointer;
}

.attribution {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}
